html,
body {
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container {
    max-height: 100vh;
    position: relative;
}

.QuestionPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.QuestionPage::before {
    content: '';
    /* background: url(/img/c.svg) no-repeat center; */

    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52vh;
    z-index: -1;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.change-background::before {
    background: url('./img/c.svg') no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contentPageQ {
    margin-top: 30.5vh;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 48px;
    padding-right: 48px;
}
.Qtext {
    padding-top: 3px;
    align-items: center;
    border: none;
    border-radius: 14px;
    background: #FFF;
    color: #5B1CAE;

    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;

    margin-bottom: 34px;
    width: 316px;
    height: 138px;

}
.Question {
    padding-top: 5px;
    color: #5B1CAE;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
}

.answer {
    display: flex;
    /* transition: all 0.3s; */
    flex-direction: row;
    align-items: center;
    color: #5B1CAE;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    padding: 17px 0px 17px 0px;
    border: none;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
    margin-bottom: 16px;
    width: 100%;
}

.answer span {
    margin-left: 35px;
    display: inline;


}
.answer p {
    display: inline;
    margin-left: 20px;
}

.answer.checked {
    border: 5px solid;
    border-color: #F4F2F6;
    /* box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);; */
}

.answer.correct {
    border: 5px solid;
    border-color: #14FF00;
    /* box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);; */
}

.answer.wrong {
    border: 5px solid;
    border-color: #FF7979;
    /* box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);; */
}

.NextText {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}

.NextBtn {
    position: absolute;
    border: none;
    width: 196px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #A76AE4;
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);
    margin-top: 58vh;
    margin-bottom: 40px;
}



.hideq {
    display: none;
}

/* .content {
    margin-top: 38vh;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center;//
    height: 100%;
}

.startBtn {
    display: flex;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
    color: #5B1CAE;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 500;
    margin-left: 13vw;
    margin-right: 12vw;
    padding: 26px 0px 26px 0px;
    border: none;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 2px 13px 4px rgba(157, 87, 227, 0.25);

} */